{% extends 'WarBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
<header>
<h1>About warblog</h1>
</header>
<article>
<p>The site contains facts left, photo of modern Ukraine-Russian war. 
    From early on Maidan Independence until today.</p>
</article>
{% endblock %}
